html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

#container {
    position: relative;
}

#menu {
    position: absolute;
    opacity: 0.85;
    z-index: 1;
    background-color: #b0f442;
}

.parent {
  /*size of first line of infowindow*/
  height: 5vh;
}

.tinylogo {
    height: 100%;
}

#map {
    height: 100vh;
}

.showHide {
    /*the show/hide label for the toggles*/
}

.toggleLabel {
    /*the label for the toggles, obviously*/
}

.category {
    text-shadow: 2px 2px #90EE90;
}

.locName {
    /*the menu entry for each location*/
}

.myButton {
    /*the toggle button to hide menu*/
}

.cafe {
    font-family: 'Poiret One', cursive;
}

.bar {
    font-family: 'Permanent Marker', cursive;
}
