html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  position: relative;
}

#navpane {
  position:absolute;
  opacity: 0.8;
  /*width: 20vh;*/
  background-color: white;
  padding-right: 20px;
  padding-bottom: 20px;
  border-bottom-right-radius: 25px;
  z-index: 1;
}

.tinylogo {
  width: 3vw;
}

#map {
  height: 100vh;

}

.nav-item {
  margin-left: 10px;
  margin-top: 10px;
}

.button-header {
text-align: center;
}

.category {
  color: green;
}
